@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    display: flex;
    
    flex-direction: row;
    align-items: center;
    color: #c00;
    padding: 16px;
    
    
}

header svg {
    fill: #c00;
}

header h1 {
    font-size: 20px;
    margin-left: 5px;
    font-weight:bold;
}

header div {
    display: flex;
}

header span {
    color: black;
    
}
/* a link area */

/* Btn */
header .head_btn_area {
    
}
header .head_btn_right {
    margin-left: 10px;
    justify-content: end;
}

  header .head_btn_left {
    
    justify-content: end;
}


header input {
    width: 75%;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #ececec;
    margin-left: 10px;
    margin-right: 10px;
}
header select {
    border: none;
    border-radius: 20px;
    background-color: #ececec;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;
}
header .head_btn-home {
    margin-left: 10px;
}
.Btn {
    cursor: pointer;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 8px 12px;
    font-size: 20px;
    word-spacing: normal;
    font-size: 16px;
}


.Btn_default {
    background-color: #ececec;
    color: black;
    font-weight: bold;
}

.Btn_red {
    background-color: #e60023;
    color: white;
    font-weight: bold;
}

.Btn_negative {
    background-color: black;
    color: white;
    font-weight: bold;
}


/* modal */

